*~
*.swp

# Boost.Build
stdcerr
/doc/*build*
/io/output

# Visual Studio (Code)
/.vs
.vscode

# CMake
/*build*
/cmake-build-debug/
/cmake-build-release/
/example/minimal_working_example.cpp

# JetBrains
/.idea
