name: Docs-Build
on:
  push:
    branches:
      - master
      - develop

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/docs-prerequisites
      - uses: ./.github/actions/setup-boost
      - uses: ./.github/actions/generate-publish-doc
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
